# Dependencies
node_modules/

# Next.js
.next/
out/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage.rules.bak

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
lib/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
.idea/
